[extruder]
step_pin: PD6
dir_pin: PD3
enable_pin: !PB3
microsteps: 16
rotation_distance: 7.839
max_extrude_only_distance: 1400.0
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: PE5
sensor_type: Generic 3950
sensor_pin: PC1
#control: pid
#pid_Kp: 14.669
#pid_Ki: 0.572
#pid_Kd: 94.068
min_temp: 0
max_temp: 320

##### кулера обдува платы и обдува хотенда. 
[heater_fan nozzle_fan]
pin: PC14
#kik_start_time: 0.1
shutdown_speed: 1.0
heater: extruder
heater_temp: 50
fan_speed: 1.0

#### кулер обдува модели
[fan]
pin: PB1
#off_below: 0.25
#shutdown_speed: 0.0

[firmware_retraction]
retract_length: 0.8
retract_speed: 25
unretract_extra_length: 0
unretract_speed: 25
