########## cam Fan #########  вентилятор отсоса из камеры, пока не завязан ни на какие события, нуждается в макросах или дополнительных датчиках. в работе.
[fan_generic camera_Fan]
pin: PB0
#cycle_time: 0.05
kick_start_time: 0.5
