[mcu rpi]
serial: /tmp/klipper_host_mcu

#### выключение по простою, по мне так не очень нужно поэтому задокументировано. 
#[idle_timeout]
#timeout: 1200
#gcode:
#  M84
#  SHUTDOWN_MACHINE

#### датчики различных температур. можно поменять название, главное вместо пробелов поставить подчеркивание
[temperature_sensor raspberry_pi]
sensor_type: temperature_host
min_temp: 10
max_temp: 100

[temperature_sensor mcu_temp]
sensor_type: temperature_mcu
min_temp: 0
max_temp: 100

# исключение обьектов, прикольная вещь, в куре достаточно отключить комбинг чтоб работало ну и  Должно еще быть прописано в moonracker.cfg вот это: [file_manager] enable_object_processing: True.
[exclude_object]

#### раздел подключения платы, сюда пишем результат команды ls /dev/serial/ после прочтения мануалов конечно же.
[mcu]
#serial: /dev/ttyS3  ### расскоментируйте если подключены по юарт
#serial: /dev/serial/by-path/platform-3f980000.usb-usb-0:1.2:1.0 # если подключили по юарт в начале этой строки поставьте #
serial: /dev/ttyAMA0
restart_method: command
#### а вот сюда вообще не надо лезть. как разберетесь лезьте на здоровье, но я предупредил)

#### местонахождение файлов кода, лучше не менять. иногда к таким глюкам приводит, ну его...
[virtual_sdcard]
path: ~/printer_data/gcodes # если вылазит ошибка virtual_sdcard .. то это здесь, поменяйте как вам написано в подсказке)
## макросы на первое время. очень нужные.)
[pause_resume]

[display_status]

[gcode_macro SHUTDOWN_MACHINE]
gcode:
    {action_call_remote_method("shutdown_machine")}
