[output_pin _Zummer]    # Если убрать подчеркивание из имени то выключатель станет видимым в панели(тогда не забудьте убрать подчеркивание из макроса ниже)
#pin: PA2
pin: rpi:gpio17
pwm: True

[gcode_macro beep]
gcode:
  SET_PIN PIN=_Zummer VALUE=1
  G4 P500                    
  SET_PIN PIN=_Zummer VALUE=0
  G4 P500                    
  SET_PIN PIN=_Zummer VALUE=1
  G4 P500                    
  SET_PIN PIN=_Zummer VALUE=0
  G4 P500                    
  SET_PIN PIN=_Zummer VALUE=1
  G4 P500                    
  SET_PIN PIN=_Zummer VALUE=0
